html {
  /* for sticky footer */
  position: relative;
  min-height: 100%;
}
body {
  /* for sticky footer */
  margin-bottom: 60px;
}

/* override bootstrap for p inside table, but p is needed for popver */
tbody>tr>td>p {
  margin: 0;
}


/* make task title input bigger */
@media (min-width: 768px) {
input#inputTitle {
  width: 350px;
}
}

form.detailForm,
div.detailText{
  width: 670px;
}
div.popover {
  max-width: 700px;
  width: auto;
}


/* make last column flush right */
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
}

tbody>tr>th#state,
tbody>tr>td#state
tbody>tr>th#date,
tbody>tr>td#date{
  width: 110px;
}
tbody>tr>th#name,
tbody>tr>td#name{
  width: 140px;
}
tbody>tr>th#title,
tbody>tr>td#title{
  min-width: 150px;
}

tbody>tr>td>button {
  width: 72px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ddd;
  padding: 15px 0px;
}
.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 5px 0;
}

.footer .text {
  float: left;
}
.footer .login {
  float: right;
}

.footer .btn-xs {
  margin: 5px 0;
}