/* general css rules */
/* -------------------- */
html {
  /* for sticky footer */
  position: relative;
  min-height: 100%;
}
body {
  /* for sticky footer */
  margin-bottom: 60px;
}

/*adjust the glyphicon*/
h1 .glyphicon {
  top:3px;
  font-size: 83%;
}



/* input section */
/* -------------------- */

/* make task title input bigger */
@media (min-width: 768px) {
input#inputTitle {
  width: 350px;
}}

/* spacing between inputs and button at narrow displays */
.input>form>div.form-group,
.input>form>button{
  margin-bottom: 5px !important;
}



/* table section */
/* -------------------- */

/* override bootstrap for p inside table, but p is needed normal for popover */
tbody>tr>td>p {
  margin: 0;
}

/* make last column flush right */
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
}

/* other column widths */
tbody>tr>th#state,
tbody>tr>td#state
tbody>tr>th#date,
tbody>tr>td#date{
  width: 110px;
}
tbody>tr>th#name,
tbody>tr>td#name{
  width: 140px;
}
tbody>tr>th#title,
tbody>tr>td#title{
  min-width: 150px;
}

tbody>tr>td>button {
  width: 72px;
}



/* detail popovers */
/* -------------------- */

/* detail popover size */
form.detailForm,
div.detailText{
  width: 670px;
}
div.popover {
  max-width: 700px;
  width: auto;
}



/* progress bars */
/* -------------------- */

/*adjust the progress bar container*/
.progress {
  margin-bottom: 0;
}

/* position text ontop of progress bar */
.progress>p.detail{
  position: absolute;
  padding-left: 5px;
}



/* footer settings */
/* -------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ddd;
  padding: 15px 0px;
}
.container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 5px 0;
}

.footer .text {
  float: left;
}
.footer .login {
  float: right;
}

.footer .btn-xs {
  margin: 5px 0;
}